@import "@fontsource/ysabeau-office/500.css";
@import "cn-fontsource-lxgw-wen-kai-gb-screen/font.css";
@import "cn-fontsource-alimama-dong-fang-da-kai-regular/font.css";

/* Ysabeau Office + 霞鹜文楷 字体 */
body {
    font-family: "Ysabeau Office", "LXGW WenKai GB Screen" !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

/* 阿里妈妈东方大楷 诗词 */
.font-dong-fang-da-kai .theme-reco-md-content {
    font-family: "Ysabeau Office", 'Alimama DongFangDaKai', sans-serif !important;
    h2 > a > span {
        font-size: 32px !important;
        display: flex;             /* 启用 Flexbox 布局 */
        justify-content: center;   /* 水平居中 */
        align-items: center;       /* 垂直居中 */
    }
    p {
        font-size: 24px !important;
        line-height: 3rem;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 公告 */
.bulletin-wrapper {
    width: 260px !important;
    .bulletin-content {
        overflow-y: auto;
    }
}

/* details 容器 内的代码移除边框 */
.custom-container.details {
    .language-java {
        border: none;
    }
    .language-yaml {
        border: none;
    }
}

/* 博客卡片标题 */
.post-item-container .title {
    font-size: 1.250rem !important;
}

/* 首页分类与标签 */
.home-blog-content .info-wrapper {
    .category-wrapper .category-item .category-link .text {
        font-size: 1rem !important;
    }
    .tag-wrapper .tag-item .tag-link {
        font-size: 1rem !important;
    }
}

/* 带图标的内容 */
.xicon-content {
    font-size: 1rem !important;
}

/* 页面导航 */
.page-catalog-container {
    overflow-y: auto;
    scrollbar-width: none;
}

.img-max-height {
    .theme-reco-md-content {
        p > img {
            max-height: 400px;
        }
    }
}

/* <code> 标签内容（高亮内容） */
.theme-container .page-content.theme-reco-md-content code,
.theme-container .theme-reco-md-content.theme-reco-md-content code  {
    font-family: "Ysabeau Office", "LXGW WenKai GB Screen" !important;
    font-size: 1rem !important;
}

/* 右侧页面导航 三级标题 显示不全 比如：字母 g */
.page-catalog-container ul .page-catalog-menu-depth_3 {
    line-height: 1.35rem !important;
}

/* .home-wrapper 通过增加选择器的特指性，使后加载的 CSS 更具优先级。 */
.home-wrapper .banner-brand__wrapper {
    /* height: 40vh !important; */
    /* margin-top: 0rem !important; */
    .banner-brand__content .title {
        font-size: 4.25rem !important;
        /* background-image: linear-gradient(to right, #00F260, #0575E6 ) !important;  */
    }
}

.dropdown-link__container {
    .dropdown-link__item .xicon-container.left {
        align-items: end !important;
        svg {
            width: 16px !important;
            height: 16px !important;
            font-size: 16px !important;
        }
    }
}
.theme-reco-md-content {
    mark {
        /* color: aliceblue; */
        background-color: #ffb366;
        /* background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%); */
    }
    u , u code {
        text-decoration-line: underline;
        text-decoration-color: #ff7eb9;
        text-decoration-thickness: 2px;
        text-decoration-style: wavy;
        -moz-text-decoration-color: #ff7eb9;
    }
}

/* .navbar-container .navbar-inner {
    max-width: 1600px !important;
} */

/* 排除掉首页的 .banner-brand__wrapper（不排除会导致右移）*/
/* .theme-container .theme-main:not(:has(.banner-brand__wrapper)) {
    max-width: 1600px !important;
} */

/* TODO 行号 */
/* div[class*="language-java"].line-numbers-mode .line-numbers .line-number {
    margin-top: 1rem;
} */

/* magic-card__bg */

/* @media (min-width: 1024px) {
    .categories-container {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
    .theme-container .theme-main {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
} */

/* series 系列 展示全部*/
/* .series-container .series-group h5.series-heading + ul li span.xicon-content {
    white-space: normal !important;
} */

/* series 系列 移入展示全部*/
.series-container .series-group h5.series-heading + ul li span.xicon-content:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    width: auto;
}

/* .series-container .series-group h5.series-heading + ul li a:hover::after {
    content: attr(aria-label);
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgb(93 103 232 / 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: normal;
    width: max-content;
    max-width: 200px;
    z-index: 10;
    font-size: 14px;
} */