@import "@fontsource/ysabeau-office/500.css";
@import "cn-fontsource-lxgw-wen-kai-gb-screen/font.css";
@import "cn-fontsource-alimama-dong-fang-da-kai-regular/font.css";

/* Ysabeau Office + 霞鹜文楷 字体 */
body {
    font-family: "Ysabeau Office", "LXGW WenKai Screen" !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

/* 阿里妈妈东方大楷 诗词 */
.font-dong-fang-da-kai .theme-reco-md-content {
    font-family: "Ysabeau Office", 'Alimama DongFangDaKai', sans-serif !important;
    h2 > a > span {
        font-size: 32px !important;
        display: flex;             /* 启用 Flexbox 布局 */
        justify-content: center;   /* 水平居中 */
        align-items: center;       /* 垂直居中 */
    }
    p {
        font-size: 24px !important;
        line-height: 3rem;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* 公告 */
.bulletin-wrapper {
    width: 260px !important;
    .bulletin-content {
        overflow-y: auto;
    }
}

/* details 容器 内的代码移除边框 */
.custom-container.details {
    .language-java {
        border: none;
    }
    .language-yaml {
        border: none;
    }
}

/* 博客卡片标题 */
.post-item-container .title {
    font-size: 1.250rem !important;
}

/* 首页分类与标签 */
.home-blog-content .info-wrapper {
    .category-wrapper .category-item .category-link .text {
        font-size: 1rem !important;
    }
    .tag-wrapper .tag-item .tag-link {
        font-size: 1rem !important;
    }
}

/* 带图标的内容 */
.xicon-content {
    font-size: 1rem !important;
}

/* 页面导航 */
.page-catalog-container {
    overflow-y: auto;
    scrollbar-width: none;
}

.img-max-height {
    .theme-reco-md-content {
        p > img {
            max-height: 400px;
        }
    }
}
